@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>

        <div class="col-md-9">
            <article>
                @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
            </article>
        </div>

        <div class="col-md-9">
            <article>
                @Html.ConvertImgToSrcSet(Model, "richTextBody")
            </article>
        </div>

        @{
            // You can do this, but please don't, this is for testing only
            var sourceValue = Model.GetProperty("richTextBody").GetSourceValue();
            if (sourceValue != null)
            {
                <div class="col-md-9">
                    <article>
                        @Html.ConvertImgToSrcSet(sourceValue.ToString())
                    </article>
                </div>
            }
        }


    </div>

</section>