@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using Umbraco.Core.Composing
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;

    var slimsyService = Current.Factory.GetInstance<SlimsyService>();
}
<section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        <h1>@Model.HeroHeader</h1>
        <p class="section__description">@Model.HeroDescription</p>
        @if (Model.HeroCtalink != null)
        {
            <a class="button button--border--solid" href="@Model.HeroCtalink.Url">
                @Model.HeroCtacaption
            </a>
        }
    </div>
</section>

<section class="section section">
    <h2>Example of using Slimsy with static non Umbraco image</h2>
    <img data-srcset="@slimsyService.GetSrcSetUrls("/images/carson-arias-7Z03R1wOdmI-unsplash.jpg", 400, 400, 2598)" data-src="@slimsyService.GetCropUrl("/images/carson-arias-7Z03R1wOdmI-unsplash.jpg", 400, 400)" sizes="auto" class="lazyload"/>
    <a style="background-color: black; color: white; text-decoration: none; padding: 4px 6px; font-family: -apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; display: inline-block; border-radius: 3px" href="@HttpUtility.HtmlEncode("https://unsplash.com/@carsonarias?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge")" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Carson Arias"><span style="display: inline-block; padding: 2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height: 12px; width: auto; position: relative; vertical-align: middle; top: -2px; fill: white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display: inline-block; padding: 2px 3px">Carson Arias</span></a>
</section>

<section class="section section">
    @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
</section>


<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url">
                    @Model.FooterCtacaption
                </a>

            </div>

        </div>
    </div>

</section>