@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.People>
@using Slimsy.Extensions
@using Slimsy.Interfaces
@using Slimsy.Models
@using Umbraco.Web.Composing
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";

}
@helper SocialLink(string content, string service)
{
    if (!string.IsNullOrEmpty(content))
    {
        <a class="employee-grid__item__contact-item" href="http://@(service).com/@content">@service</a>
    }
}       

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        <!-- todo: implement department filter -->
        <!--
    <nav class="nav-bar nav-bar--center nav-bar--air-bottom">
        <a class="nav-link nav-link--black nav-link--active" href="">All</a>
        <a class="nav-link nav-link--black" href="">Marketing</a>
        <a class="nav-link nav-link--black" href="">Package People</a>
        <a class="nav-link nav-link--black" href="">Designers</a>
        <a class="nav-link nav-link--black" href="">Other</a>
    </nav>
    -->

        <h2>Using Image Source Set using Pre Defined Crop</h2>
        <div class="employee-grid">
            @foreach (Person person in Model.Children)
            {
                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        <img data-srcset="@Url.GetSrcSetUrls(person.Photo, "feature")" data-src="@Url.GetCropUrl(person.Photo, "feature")" sizes="auto" class="lazyload" />

                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2>Using Image Source Set with picture element and WebP ImageProcessor Plugin</h2>
        <div class="employee-grid">
            @foreach (ContentModels.Person person in Model.Children)
            {
                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        <picture>
                            <!--[if IE 9]><video style="display: none"><![endif]-->
                            <source data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 300, "umbracoFile", "webp", quality:80)" type="image/webp" data-sizes="auto" />
                            <source data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 300)" type="image/jpeg" data-sizes="auto" />
                            <!--[if IE 9]></video><![endif]-->
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-src="@Url.GetCropUrl(person.Photo, 323, 300)"
                                 class="lazyload"
                                 alt="image"
                                 data-sizes="auto" />
                        </picture>
                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2>Using Image Source Set with picture element, WebP ImageProcessor Plugin and LQIP using Razor Helper</h2>
        <div class="employee-grid">
            @foreach (ContentModels.Person person in Model.Children)
            {
                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        @SlimsyHelper.RenderPicture(Url, person.Photo, 323, 300)
                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2>Using Image Source Set with Aspect Ratio</h2>
        <div class="employee-grid">
            @foreach (ContentModels.Person person in Model.Children)
            {
                var ratio = new AspectRatio(16, 9);

                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        <img data-srcset="@Url.GetSrcSetUrls(person.Photo, ratio)" data-sizes="auto" class="lazyload" />
                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2>Using Image Source Set with LQIP</h2>
        <div class="employee-grid">
            @foreach (ContentModels.Person person in Model.Children)
            {
                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        <img src="@Url.GetCropUrl(person.Photo, 323, 300, quality:30, furtherOptions:"&format=auto")"
                             data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 300)"
                             data-src="@Url.GetCropUrl(person.Photo, 323, 300)"
                             sizes="auto" class="lazyload" />
                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2>Using Image Source Set with LQIP and flexible heights</h2>
        <div class="employee-grid">
            @foreach (ContentModels.Person person in Model.Children)
            {
                <div class="employee-grid__item">
                    <div class="employee-grid__item__image">
                        <img src="@Url.GetCropUrl(person.Photo, 323, 0, quality:30, furtherOptions:"&format=auto")" data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 0)" data-src="@Url.GetCropUrl(person.Photo, 323, 0)" data-sizes="auto" class="lazyload" alt="something really long"/>
                    </div>
                    <div class="employee-grid__item__details">
                        <h3 class="employee-grid__item__name">@person.Name</h3>
                        @if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                        }
                        <div class="employee-grid__item__contact">
                            @SocialLink(person.FacebookUsername, "Facebook")
                            @SocialLink(person.TwitterUsername, "Twitter")
                            @SocialLink(person.LinkedInUsername, "LinkedIn")
                            @SocialLink(person.InstagramUsername, "Instagram")
                        </div>
                    </div>
                </div>
            }
        </div>

    <h2>Using Image Source Set with LQIP using blur-up lazysizes plugin</h2>
    <div class="employee-grid">
        @foreach (ContentModels.Person person in Model.Children)
        {
            <div class="employee-grid__item">
                <div class="employee-grid__item__image">
                    <img data-lowsrc="@Url.GetCropUrl(person.Photo, 323, 300, quality:30, furtherOptions:"&format=auto")"
                         data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 300)"
                         sizes="auto" class="lazyload" />
                </div>
                <div class="employee-grid__item__details">
                    <h3 class="employee-grid__item__name">@person.Name</h3>
                    @if (!string.IsNullOrEmpty(person.Email))
                    {
                        <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                    }
                    <div class="employee-grid__item__contact">
                        @SocialLink(person.FacebookUsername, "Facebook")
                        @SocialLink(person.TwitterUsername, "Twitter")
                        @SocialLink(person.LinkedInUsername, "LinkedIn")
                        @SocialLink(person.InstagramUsername, "Instagram")
                    </div>
                </div>
            </div>
        }
    </div>


    <h2>Using Image Source Set with LQIP using blur-up lazysizes plugin & DomainPrefix</h2>
    @{
        // DO NOT EVER DO THIS, set DomainPrefix in web.config or implement your own ISlimsyOptions
        Current.Factory.GetInstance<ISlimsyOptions>().DomainPrefix = "http://localhost:50414/";

        // Inject into a controller or service if you want to use this for GetCropUrl
        var slimsyDomainPrefix = Current.Factory.GetInstance<ISlimsyOptions>().DomainPrefix;
    }
    <div class="employee-grid">
        @foreach (ContentModels.Person person in Model.Children)
        {
            var lowSrc = $"{slimsyDomainPrefix}{Url.GetCropUrl(person.Photo, 323, 300, quality: 30, furtherOptions: "&format=auto")}";

            <div class="employee-grid__item">
                <div class="employee-grid__item__image">
                    <img data-lowsrc="@lowSrc"
                         data-srcset="@Url.GetSrcSetUrls(person.Photo, 323, 300)"
                         sizes="auto" class="lazyload" />
                </div>
                <div class="employee-grid__item__details">
                    <h3 class="employee-grid__item__name">@person.Name</h3>
                    @if (!string.IsNullOrEmpty(person.Email))
                    {
                        <a href="mailto:@person.Email" class="employee-grid__item__email">@person.Email</a>
                    }
                    <div class="employee-grid__item__contact">
                        @SocialLink(person.FacebookUsername, "Facebook")
                        @SocialLink(person.TwitterUsername, "Twitter")
                        @SocialLink(person.LinkedInUsername, "LinkedIn")
                        @SocialLink(person.InstagramUsername, "Instagram")
                    </div>
                </div>
            </div>
        }
    </div>
    @{
        // DO NOT EVER DO THIS, set DomainPrefix in web.config or implement your own ISlimsyOptions
        Current.Factory.GetInstance<ISlimsyOptions>().DomainPrefix = null;
    }
    </div>

</section>