@using Umbraco.Web.Models
@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
<!-- Features -->
<section class="is-features">
    <h2 class="major"><span>Wonderful featured pages</span></h2>
    <div>
        
        <div class="row">

            <h2>Using Image Source Set using Pre Defined Crop</h2>

            @foreach (var feature in homePage.umbTextPages.Where("featuredPage"))
            {
                <div class="3u">
                    <!-- Feature -->
                    <section class="is-feature">
                        @if (feature.HasValue("Image"))
                        {
                            var featureImage = Umbraco.TypedMedia((string) feature.Image);
                            <a href="@feature.Url" class="image image-full">
                                <img data-srcset="@featureImage.GetCropSrcSet("home", "umbracoFile")" data-src="@featureImage.GetCropUrl("umbracoFile", "home")" sizes="auto" class="lazyload"/>
                            </a>
                        }
                        <h3><a href="@feature.Url">@feature.Name</a>
                        </h3>
                        @Umbraco.Truncate(feature.BodyText, 100)
                    </section>

                    <!-- /Feature -->
                </div>
            }

        </div>

        <div class="row">

            <h2>Using Image Source Set with picture element and WebP ImageProcessor Plugin</h2>
            @foreach (var feature in homePage.umbTextPages.Where("featuredPage"))
            {
                var featureImage = Umbraco.TypedMedia((string) feature.Image);
                <div class="3u">
                    <!-- Feature -->
                    <section class="is-feature">

                        <picture>
                            <!--[if IE 9]><video style="display: none"><![endif]-->
                            <source data-srcset="@featureImage.GetImgSrcSet(270, 161, "umbracoFile", "webp")" type="image/webp" data-sizes="auto"/>
                            <source data-srcset="@featureImage.GetImgSrcSet(270, 161)" type="image/jpeg" data-sizes="auto"/>
                            <!--[if IE 9]></video><![endif]-->
                            <img
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="@featureImage.GetCropUrl(270, 161)"
                                class="lazyload"
                                alt="image with artdirection"
                                data-sizes="auto"/>
                        </picture>
                    </section>
                </div>
            }
        </div>


    </div>
</section>
<!-- /Features -->